<div class="remove-container container-block">
    <h2 class="container-block-title">
        <a target="_blank" href="https://drive.google.com/file/d/1F-4vICBQ5XNFhSE-ikANPkDPPmCYzj2j/view?usp=sharing">Get my latest resume in Google Drive here</a>
    </h2>
    <br><br>
    <h2 class="container-block-title">
        <a target="_blank" href="https://www.github.com/jianzhiw">Get to know more of my projects in Github</a>
    </h2>
    <ul class="list-unstyled interests-list">
        <li>- BI Dashboards</li>
        <li>- Stock Market Predictions</li>
        <li>- Python Machine Learning</li>
        <li>- Discord Bot</li>
    </ul>
</div><!--//About-->